<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html">Inicio</a></li>
            <li class="nav-item"><a href="cargarProducto.html">Nuevo Producto</a></li>
            <li class="nav-item"><a href="eliminarProducto.html">Borrar Producto</a></li>
            <li class="nav-item"><a href="pedidos.html">Pickear Pedidos</a></li>
        </ul>
    </nav>
</body>
</html>