<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>

    <div id="mensaje">El pedido se envió OK</div>

    <label>Ingrese el Codigo del producto</label>
    <input type="text" id="input-codigo"><br>

    <div id="div-lista-productos">
        <p>Lista de Productos</p>
        <ul id="lista-productos"></ul>
    </div>

    <script src="../scripts/main.js"></script>
</body>
</html>